<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. REMOVES "X-Powered-By: ASP.NET" -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!-- 2. REMOVES "Server: Microsoft-IIS" (Requires IIS 10+) -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <!-- 3. CONFIGURE ASP.NET CORE MODULE -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <!-- 4. OUT-OF-PROCESS, LOGS ENABLED, 2-HOUR TIMEOUT -->
    <aspNetCore 
        hostingModel="outofprocess" 
        requestTimeout="02:00:00" 
        stdoutLogEnabled="true" 
        stdoutLogFile=".\logs\stdout" />
    
  </system.webServer>
</configuration>