<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. REMOVES "X-Powered-By: ASP.NET" -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!-- 2. REMOVES "Server: Microsoft-IIS" (Requires IIS 10+) -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <!-- 3. Configures ASP.NET Core with a 2-hour timeout for slow downloads -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore requestTimeout="02:00:00" hostingModel="outofprocess" />
    
  </system.webServer>
</configuration>